* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


li {
    list-style: none
}

a {
    text-decoration: none;
    cursor: pointer;
    line-height: normal
}

.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-animation: text-load 1.3s ease-in forwards;
    -moz-animation: text-load 1.3s ease-in forwards;
    -o-animation: text-load 1.3s ease-in forwards;
    animation: text-load 1.3s ease-in forwards;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 1.3s;
}

.text {
    position: relative;
    left: 10%;
    top: 34%;
    color: black;
    text-transform: uppercase;
    padding: 5px;
    width: 13rem;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}


h1 {
    font-size: 0.8rem;
    margin: 10px;
    font-weight: lighter;
}

h3 {
    font-size: 0.7rem;
    font-weight: lighter;
}



@-webkit-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#main-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    cursor: auto;
    z-index: 2;
    transition: all 300ms;
    padding: 1rem;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main-header .header-wrapper .index,
#main-header .header-wrapper .separator,
#main-header .header-wrapper .closecursor {
    color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: .9rem;
    line-height: normal;
    letter-spacing: 0;
    padding: .1rem;
    transition: all 300ms;
}

#main-header .header-wrapper .index:hover,
#main-header .header-wrapper .closecursor:hover {
    color: rgba(48, 44, 44, 0.769);
}

#main-header.active {
    display: none;
}

.nav-menu {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 300ms;
    z-index: 1000;
    cursor: pointer;
}

.close-button {
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    height: fit-content;
    transition: all 300ms;
    color: rgba(0, 0, 0, 0.904);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.nav-link {
    color: black;
    text-transform: lowercase;
    font-size: 0.8rem;
    transition: all 1s;
}

.nav-link:hover {
    color: lightgray;
    font-style: italic;
}

.nav-menu span {
    font-size: .75rem;
    font-weight: 600;
}

.nav-menu.active {
    width: 35%;
}

.gallery-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
    transition: all 300ms;
}

.gallery-container {
    max-width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin: 2% 1%;
    padding: 3px;
    transition: all 300ms;
    opacity: 1;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 2px;
    width: min(100%, 130px);
}

.box img {
    padding: 1px;
}

.box .numbertext {
    color: black;
}

.numbertext {
    color: #f2f2f2;
    font-size: .7rem;
}

.text-wrapper {
    font-weight: 600;
    font-size: .8rem;
    letter-spacing: 3px;
    margin-top: 5px;
    overflow: hidden;
    padding: 1rem;
}

#main-header .header-wrapper,
.text-wrapper,
.mySlides {
    -webkit-animation: content-load 1s ease-in 1.8s forwards;
    -moz-animation: content-load 1s ease-in 1.8s forwards;
    -o-animation: content-load 1s ease-in 1.8s forwards;
    animation: content-load 1s ease-in 1.8s forwards;
    opacity: 0;
}

@-webkit-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-moz-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-o-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    min-height: 100vh;
    transition: all 500ms;
    opacity: .9;
    z-index: 10;
}

.wrapper.active .overlay {
    width: 100%;
    left: 0;
    opacity: .1;
}

.gallery-container.active {
    opacity: .1;
}

.gallery-wrapper.active .overlay {
    width: 100%;
    left: 0;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeUp {
    -webkit-animation-name: fadeUp;
    -moz-animation-name: fadeUp;
    -o-animation-name: fadeUp;
    animation-name: fadeUp;
}

@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeDown {
    -webkit-animation-name: fadeDown;
    -moz-animation-name: fadeDown;
    -o-animation-name: fadeDown;
    animation-name: fadeDown;
}

@-webkit-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeLeft {
    -webkit-animation-name: fadeLeft;
    -moz-animation-name: fadeLeft;
    -o-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

@-webkit-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeRight {
    -webkit-animation-name: fadeRight;
    -moz-animation-name: fadeRight;
    -o-animation-name: fadeRight;
    animation-name: fadeRight;
}

@-webkit-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.one {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.two {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.four {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.five {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animate {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modalContent {
    position: relative;
    width: min(50%, 1000px);
    right: 0;
    height: auto;
    margin: auto;
    margin-top: 9%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    transition: all 500ms;
    /*  z-index: 1; */
}

.modalContent.active {
    max-width: 35%;
    right: 15%;
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    min-height: 100vh;
    transition: all 500ms;
    opacity: .9;
    z-index: 10;
}

.modal.active .overlay {
    width: 100%;
    left: 0;
}

.mySlides {
    width: min(100%, 350px);
    display: none;
    transition: all 500ms;
}

.modal .numbertext {
    text-align: center;
    padding: 1px 0;
    margin: 2px 0;
    color: black;
}

.next,
.prev {
    /* background-color: blue; */
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    padding: 2px 5px;
    font-size: .8rem;
    user-select: none;
    color: black;
}

.prev {
    left: -11%;
}

.next {
    right: -11%;
}

.mySlides {
    animation-delay: 300ms;
}

.message {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 1rem auto;
    white-space: nowrap;
    padding: 1rem;
    margin-top: 3rem;
    letter-spacing: 3px;
}

@media screen and (max-width:480px) {
    .box {
        width: min(100%, 70px);
    }

    .box img {
        max-width: 70px;
    }
    
     .message {
        font-size: .7rem;
    }
}

@media screen and (max-width:768px) {
    #main-header {
        height: 40px;
        transition: all 500ms;
    }

    .nav-menu.active {
        width: 100%;
        transition: all 500ms;
    }

    .nav-link,
    .close-button,
    #main-header {
        font-size: .8rem;
    }

    .gallery-wrapper {
        justify-content: center;
    }

    .gallery-container {
        justify-content: center;
        width: min(100%, 700px);
    }

    .text-wrapper {
        white-space: nowrap;
    }

    .box {
        width: min(100%, 80px);
    }

    .modalContent {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .mySlides {
        width: min(100%, 200px);
    }

    .next,
    .prev {
        font-size: .7rem;
    }
    
    .overlay {
        display: none;
    }
    
      .message {
        font-size: .8rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

