@font-face {
    font-family: Untitled Sans;
    src: url(/assets/fonts/UntitledSans-Regular.eot);
    src: url(/assets/fonts/UntitledSans-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/UntitledSans-Regular.woff2) format("woff2"), url(/assets/fonts/UntitledSans-Regular.woff) format("woff"), url(/assets/fonts/UntitledSans-Regular.ttf) format("truetype"), url(/assets/fonts/UntitledSans-Regular.svg#a504d195f5aa6af7cd39d222e5d8c07c) format("svg");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Untitled Sans Medium;
    src: url(/assets/fonts/UntitledSansMedium-Regular.eot);
    src: url(/assets/fonts/UntitledSansMedium-Regular.eot?#iefix) format("embedded-opentype"), url(/assets/fonts/UntitledSansMedium-Regular.woff2) format("woff2"), url(/assets/fonts/UntitledSansMedium-Regular.woff) format("woff"), url(/assets/fonts/UntitledSansMedium-Regular.ttf) format("truetype"), url(/assets/fonts/UntitledSansMedium-Regular.svg#bd60e1d522632859eebcc9c76ca296ae) format("svg");
    font-style: normal;
    font-weight: 500
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer
}


li {
    list-style: none
}

a {
    text-decoration: none;
    cursor: pointer;
    line-height: normal
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeUp {
    -webkit-animation-name: fadeUp;
    -moz-animation-name: fadeUp;
    -o-animation-name: fadeUp;
    animation-name: fadeUp;
}

@-webkit-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeDown {
    -webkit-animation-name: fadeDown;
    -moz-animation-name: fadeDown;
    -o-animation-name: fadeDown;
    animation-name: fadeDown;
}



@-webkit-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeLeft {
    -webkit-animation-name: fadeLeft;
    -moz-animation-name: fadeLeft;
    -o-animation-name: fadeLeft;
    animation-name: fadeLeft;
}

@-webkit-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeRight {
    -webkit-animation-name: fadeRight;
    -moz-animation-name: fadeRight;
    -o-animation-name: fadeRight;
    animation-name: fadeRight;
}

@-webkit-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-moz-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-o-keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.one {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}

.two {
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.three {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.four {
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.five {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.animate {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

.gallery-wrapper {
    /*  background-color: palegreen; */
     position: relative;
     width: 100%;
     height: 100vh;
     display: flex;
     align-items: flex-start;
     justify-content: flex-start;
     width: 100%;
     z-index: 1;
     transition: all 500ms;
 }

 .gallery-container {
    /*  background-color: blueviolet; */
     position: absolute;
     height: auto;
     max-width: 95%;
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     justify-content: flex-start;
     gap: .5rem;
     margin: 2% 1%;
     padding: 3px;
     transition: all 500ms;
     opacity: 1;
 }

 .box {
   /*  background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 2px;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 2px;
}

.box .numbertext {
    color: black;
}

.numbertext {
    color: #f2f2f2;
    font-size: 0.6rem;
}

.text-wrapper {
    /*  background-color: green; */
    font-size: 0.8rem;
    letter-spacing: 3px;
    margin-top: 5px;
    overflow: hidden;
    display: block;
}

.text-wrapper,
#main-header .header-wrapper .index,
.mySlides {
    -webkit-animation: content-load 300ms ease-in 1s forwards;
    -moz-animation: content-load 300ms ease-in 1s forwards;
    -o-animation: content-load 300ms ease-in 1s forwards;
    animation: content-load 300ms ease-in 1s forwards;
    opacity: 0;
}

.mySlides {
    animation-delay: 300ms;
}


@-webkit-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-moz-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-o-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all 500ms;
    opacity: .9;
    z-index: 7;
}

.gallery-container.active {
    opacity: .1;
}

.gallery-wrapper.active .overlay {
    width: 100%;
    left: 0;
}


#main-header {
    /*  background-color: orangered; */
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    /*  mix-blend-mode: difference; */
    cursor: auto;
    font-size: 0.8rem;
    z-index: 8;
    transition: all 500ms;
}

#main-header .header-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

#main-header .header-wrapper .index {
    color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
    font-family: Untitled Sans Medium, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    line-height: normal;
    letter-spacing: 0;
    padding: 10px 5px;
    text-decoration: underline;
    transition: all 500ms;
}

#main-header .header-wrapper .index:hover {
    color: lightgray;
}

.index.active {
    display: none;
}

.nav-menu {
    background-color: white;
    /*    background-color: blue; */
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 500ms;
    z-index: 10;
    cursor: pointer;
   
}

.close-button {
    /*  background-color: green; */
    font-size: 0.8rem;
    font-family: inherit;
    width: 100%;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    height: fit-content;
    transition: all 500ms;
    color: rgba(0, 0, 0, 0.904);

}

.nav-item {
    /*   background-color: rgba(0, 0, 255, 0.39); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.nav-link {
    color: black;
    text-transform: lowercase;
    font-size: 0.8rem;
    transition: all 500ms;
}

.nav-link:hover {
    text-decoration: underline;
    color: lightgray;
}

.nav-menu span {
    font-size: 0.7rem;
}

.nav-menu.active {
    width: 35%;
}

.modal {
    background-color: #f2f2f2db;
    display: none;
    position: fixed;
    z-index: 1;
    /* padding-top: 5rem; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modalContent {
  /*   background-color: gray; */
    position: absolute;
    min-width: 50%;
    max-width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    transition: all 500ms;
    z-index: 1;
}

.modalContent.active {
    min-width: 40%;
    max-width: 45%;
    left: 32%;
}

.modal.active .overlay {
    width: 100%;
    left: 0;
   /*  opacity: .1; */
}

.mySlides {
    display: none;
}

.mySlides img {
    /*   background-color: orange; */
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.modal .numbertext {
    text-align: center;
    padding: 1px 0;
    margin: 2px 0;
    color: black;
}

.next,
.prev {
   /*  background-color: blue; */
    cursor: pointer;
    position: absolute;
    bottom: 0%;
    padding: 2px 5px;
    font-size: 0.8rem;
    user-select: none;
    color: black;
}

.prev {
    left: 0;
}

.next {
    right: 0%;
}

.close {
    /*  background-color: blue; */
     cursor: pointer;
     position: absolute;
     padding: 2px 5px;
     font-size: 0.8rem;
     user-select: none;
     color: black;
     top: -5%;
     right: 0%;
 }

@media screen and (min-width:230px) and (max-width:768px) {
    .nav-menu.active {
        width: 100%;
        transition: all 500ms;
    }

    .nav-link,
    .close-button,
    #main-header {
        font-size: 0.7rem;
    }

    .nav-menu span {
        font-size: 0.6rem;
    }

    .text-wrapper {
        display: none;
    }

    .gallery-container {
        display: none;
    }

    .modal {
        display: block;
    }

    .modalContent {
        min-width: 75%;
        max-width: 80%;
    }

    .modalContent.active {
        left: 50%;
    }

    .next,
    .prev {
        font-size: 0.7rem;
    }

    .close {
        display: none;
    }

    .overlay {
        display: none;
    }
}
