* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}


li {
    list-style: none
}

a {
    text-decoration: none;
    cursor: pointer;
    line-height: normal
}

.text {
    position: fixed;
    left: 10%;
    top: 35%;
    -webkit-animation: text-load 1s ease-in forwards;
    -moz-animation: text-load 1s ease-in forwards;
    -o-animation: text-load 1s ease-in forwards;
    animation: text-load 1s ease-in forwards;
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
    color: black;
    text-transform: uppercase;
    padding: 5px;
    transition: all 2s;
    z-index: 7;
}

.text-hidden {
    opacity: 0;
    visibility: hidden;
}

h1 {
    font-size: 0.8rem;
    margin: 10px;
    font-weight: lighter;
}

h3 {
    font-size: 0.7rem;
    font-weight: lighter;
}

@-webkit-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.wrapper {
    -webkit-animation: content-load 1s ease-in 3s forwards;
    -moz-animation: content-load 1s ease-in 3s forwards;
    -o-animation: content-load 1s ease-in 3s forwards;
    animation: content-load 1s ease-in 3s forwards;
    opacity: 0;
}

@-webkit-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-moz-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@-o-keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes content-load {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

#main-header {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    cursor: auto;
    z-index: 8;
    transition: all 500ms;
}


#main-header .header-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

#main-header .header-wrapper .index {
    color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: .9rem;
    line-height: normal;
    letter-spacing: 0;
    padding: 10px 5px;
    text-decoration: underline;
    transition: all 500ms;
}

#main-header .header-wrapper .index:hover {
    color: lightgray;
}

.index.active {
    display: none;
}

.nav-menu {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 500ms;
    z-index: 10;
    cursor: pointer;
}

.close-button {
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    height: fit-content;
    transition: all 500ms;
    color: rgba(0, 0, 0, 0.904);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.nav-link {
    color: black;
    text-transform: lowercase;
    font-size: .8rem;
    transition: all 500ms;
    font-weight: 500;
}

.nav-link:hover {
    color: lightgray;
    font-style: italic;
}

.nav-menu span {
    font-size: .75rem;
    font-weight: 600;
}

.nav-menu.active {
    width: 35%;
}

.gallery-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
    transition: all 500ms;
}


.gallery-container {
    min-width: 47%;
    max-width: 50%;
    position: absolute;
    max-width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 500ms;
    z-index: 5;
    opacity: 1;
    padding: .1rem;
}

.gallery-container img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all 500ms;
    opacity: .9;
    z-index: 9;
}

.gallery-container.active {
    left: 33%;
    opacity: .1;
}

.gallery-wrapper.active .overlay {
    width: 100%;
    left: 0;
}

@media screen and (min-width:230px) and (max-width:768px) {
    .text {
        left: 3%;
        top: 3%;
    }

    h1 {
        font-size: .65rem;
    }

    h3 {
        font-size: 0.6rem;
    }

    .gallery-container.active {
        min-width: 35%;
        max-width: 40%;
    }

    .nav-menu.active {
        width: 100%;
        transition: all 500ms;
    }

    .nav-link,
    .close-button,
    #main-header {
        font-size: .8rem;
    }

    .gallery-container {
        min-width: 90%;
    }

    .overlay {
        display: none;
    }
}

@media screen and (orientatiton:portrait) {
    body {
        height: 100vw;
        transform: rotate(90deg);
    }
}
