* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    height: 100vh;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    cursor: pointer;
    line-height: normal
}

.wrapper {
    background-image: url(img/hero_photo-resizer.ru.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-animation: content-load 1s ease-in 1s forwards;
    -moz-animation: content-load 1s ease-in 1s forwards;
    -o-animation: content-load 1s ease-in 1s forwards;
    animation: content-load 1s ease-in 1s forwards;
    opacity: 0;
}

.gallery-container {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    transition: all 500ms;
    padding: .1rem;
    text-align: center;
    -webkit-animation: content-load 1s ease-in 1.5s forwards;
    -moz-animation: content-load 1s ease-in 1.5s forwards;
    -o-animation: content-load 1s ease-in 1.5s forwards;
    animation: content-load 1s ease-in 1.5s forwards;
    opacity: 0;
}

@-webkit-keyframes content-load {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes content-load {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes content-load {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes content-load {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.gallery-container h1 {
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
    font-weight: 600;
    white-space: nowrap;
}

@media (max-width:479px) {
    .gallery-container h1 {
        font-size: 1rem;
    }

    .gallery-container.active {
        display: none;
    }
}

@media (min-width:480px) and (max-width:767px) {
    .gallery-container h1 {
        font-size: 1.5rem;
    }

    .gallery-container.active {
        display: none;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .gallery-container h1 {
        font-size: 1.6rem;
    }
}

.gallery-container.active {
    left: 30%;
    opacity: .3;
}

#main-header {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    cursor: auto;
    z-index: 2;
    transition: all 500ms;
}

#main-header .header-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

#main-header .header-wrapper .index {
    color: rgba(0, 0, 0, 0.904);
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: normal;
    letter-spacing: 3px;
    padding: 10px 5px;
    transition: all 500ms;
}

#main-header .header-wrapper .index:hover {
    color: rgba(22, 19, 19, 0.622);
}

#main-header.active {
   mix-blend-mode: difference;
}

.nav-menu {
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: all 500ms;
    z-index: 10;
    cursor: pointer;
}

.close-button {
    font-size: .9rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    height: fit-content;
    transition: all 500ms;
    color: rgba(0, 0, 0, 0.904);
}

.nav-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
}

.nav-link {
    color: black;
    text-transform: lowercase;
    font-size: .8rem;
    transition: all 500ms;
    font-weight: 500;
}

.nav-link:hover {
    color: lightgray;
    font-style: italic;
}

.nav-menu span {
    font-size: .75rem;
    font-weight: 600;
}

.nav-menu.active {
    width: 35%;
}

.overlay {
    position: absolute;
    background-color: black;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: all 500ms;
    opacity: .9;
    z-index: 7;
}

.wrapper.active .overlay {
    width: 100%;
    left: 0;
}

@media (max-width:767px) {
    .nav-menu.active {
        width: 100%;
        transition: all 500ms;
    }

    .nav-link,
    .close-button,
    #main-header {
        font-size: .8rem;
    }

    .overlay {
        display: none;
    }
}
